nav#main-nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("../images/main-nav-background.jpg");
	border: 3px solid #242824;
	width:500px;
}

.main-nav-dropdown
{
	float: left;
	width: 100px;
}

nav#main-nav ul li a
{
	font-size: 120%;
	text-align: center;
	padding-left: 3.75%;
	padding-right: 3.75%;
	text-decoration: none;
	border-right: 1px solid #bbb;
}

nav#main-nav .affliction-dropdown, 
nav#main-nav .demonology-dropdown, 
nav#main-nav .destruction-dropdown
{
	display: none;
	background-image: url("../images/side-nav-background.jpg");
	box-shadow: 0px 4px 12px #545454;
}

nav#main-nav .affliction-dropdown a, 
nav#main-nav .demonology-dropdown a, 
nav#main-nav .destruction-dropdown a
{
	padding: 0;
	border-right: none;
	text-decoration: none;
	display: block;
	text-align: left;
	width: 100%;
}

nav#main-nav .main-nav-dropdown:hover .affliction-dropdown, 
nav#main-nav .main-nav-dropdown:hover .demonology-dropdown, 
nav#main-nav .main-nav-dropdown:hover .destruction-dropdown
{
	display: block;
}